/* .Tilt {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
} */

/* .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tilt-box {
    display: inline-block;
  }
  
  .logo-inner {
    height: 150px;
    width: 150px;
    background-color: darkgreen;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
   */

.logo-container {
    display: block;
    position: absolute;
    top: 75px;
    left: 20px;
}

.tilt-box {
    display: inline-block;
}

.logo-inner {
    height: 150px;
    width: 150px;
    /* background-color: darkgreen; */
    background: linear-gradient(89deg, #04c8de 0%, #ff5edf 100%);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
