.logo-container {
    display: block;
    position: absolute;
    top: 75px;
    left: 20px;
}

.tilt-box {
    display: inline-block;
}

.logo-inner {
    height: 150px;
    width: 150px;
    background: linear-gradient(135deg, #d4af37, #f8f8f7);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
